<div class="about-section">
    <h1>About ShopForKids</h1>
    <p>Explore kids and baby products galore at ShopForKids.com, the Big Store for Little Ones. We at ShopForKids.com empathize with you as a mother who always aspires to bestow her newborn, infant, baby or kid with the best things even for their smallest needs. That is why, 'Mommy Knows Best'. From breastfeeding to bathing essentials, right furniture to myriad baby care products, a mother needs them all for her lil' one. This inspires us to offer convenient & hassle-free online shopping not just for babies & kids but for moms-to-be & new moms as well.
        With 2 Lakh Baby & Kids Products, 2 Million Happy Customers, and 2 Thousand+ top-notch national and international brands like Babyhug, Pampers, Mamypoko, Huggies, Baby Dove, Sebamed, Himalaya, Philips Avent, Medela, FisherPrice, Carter's, Cute Walk by Babyhug, Kookie Kids, Babyoye, Mark & Mia and more you can look forward to an unparalleled shopping experience with us. Shop for baby & kids products online ranging across diapering, feeding & nursing, skin & health care, baby & kids toys, newborn & infant clothing, baby clothes, kids wear, footwear, fashion accessories, baby gear, nursery, kids furniture, gifts, party supplies, books & CDs, school supplies and more at great discounts.
    </p>
   
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">        
        <div class="container">
          <h2>Vijayalakshmi</h2>
          <p class="title">CEO & Founder</p>         
          <p>viji@gmail.com</p>
          <p><button class="button" id="contact1" (click)="clickContact1()">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">       
        <div class="container">
          <h2>KrishnaKumar</h2>
          <p class="title">Art Director</p>         
          <p>krishna@gmail.com</p>
          <p><button class="button" id="contact2"(click)="clickContact2()">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">       
        <div class="container">
          <h2>Nishant Krishnakumar</h2>
          <p class="title">Designer</p>          
          <p>nishant@gmail.com</p>
          <p><button class="button" id="contact3"(click)="clickContact3()">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  